{
    "plugins": [
      "prettier"
    ],
    "extends": [
      "plugin:prettier/recommended"
    ],
    "parser":  "@typescript-eslint/parser",
    "parserOptions": {
        "project": "./tsconfig.json"
    },
    "rules": {
      "prettier/prettier": "error"
      }
  }
  