img.slideImage {
  max-width: 100%;
  object-fit: contain;
  height: 60vh ;
  margin: 0 auto 0 auto;
}

div.Carousel-root-13 {
  max-width: 100%;
  width: 500px;
}

div.MuiPaper-root h2 {
  text-align: center;
}
