.root {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: hidden;
  width: 100%;
}


.title {
  color: blue;
}

.MuiGridListTile-imgFullHeight {
  object-fit: contain;
  width: 90%;
}

#tempbutton {
  background-color: blue;
  color: white;
  border-radius: 5px;
  width: 200px;
  height: 50px;
}
.MuiGridListTileBar-actionIcon {
  padding-right: 10px;
}

.actionButtons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#memes-list-container {
  margin-top: 20px;
}

button.rs-play {
  background-color: rgb(106, 18, 109) !important;
  border: none !important;
  border-radius: 5px !important;
  padding: 0px !important;
  height: 18px;
  width: 18px;
}
button.rs-play svg {
  height: 13px;
  fill: white;
  padding-top: 3px;
}
